<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>A Juicy Project</title>
    <meta name="robots" content="noindex,follow">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/style.css" type="text/css" media="screen" />
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">A Juicy Project</span>
        </nav>

    </header>
    <main class="mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="question">
                        <p class="lead">1 Return the total number of Juicy Juice products in JSON format.</p>
                    </div>
                    <div class="answer" id="qone"></div>
                </div>
                <div class="col-md-6">
                    <div class="question">
                        <p class="lead">2 Return average calories per fluid ounce for all Juicy Juice products in JSON format.</p>
                    </div>
                    <div class="answer" id="qtwo"></div>
                </div>
                <div class="col-12">
                    <div class="question">
                        <p class="lead">3/4 Create an index from all unique Juicy Juice ingredients to the products that contain them.</p>
                    </div>
                    <div class="answer" id="qthree">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <h3>Indredients</h3>
                                    <select name="ingredients" class="form-control">
                                            <option>Select Ingredient...</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-12">
                                    <h3>Products</h3>
                                <div id="item-list">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" language="Javascript" src="/public/script.js">
    </script>
</body>

</html>
